import { defineConfig } from 'vite'
import RubyPlugin from 'vite-plugin-ruby'
import opal from 'vite-plugin-opal'

export default defineConfig({
  plugins: [
    RubyPlugin(),
    opal({
      loadPaths: ['./<%= opal_dir %>'],
      sourceMap: true
    })
  ]
})
